.button {
  background-color: #6C3483;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: underline;
  display: inline-block;
  font-size: 16px;
}
.button2 {
  background-color: #3E0D4A;
  border-radius: 5px;
  color: #FAE10A;
  padding: 15px 32px;
  text-align: center;
  text-decoration: underline;
  display: inline-block;
  font-size: 16px;
}
body{
  background-color: #F4ECF5;
}
.btn{
  float: right;
  margin-right: 500px;
  margin-top: 10px;
}
.icons{
  float: right;
  margin-top: 20px;
  margin-right: 525px;
}
.icons i{

  font-size: 30px;
}
.icons a{
  border-top: #FAFAB0;
  font-size: 20px;
  background-color: #111F88;
  border-radius: 10px;
  font-style: italic;
  padding: 10px 20px;
  color:#E8E9F4;
  text-decoration: none;
}
.me{

  border-radius: 10px;
  height: 200px;
  border: #FAFAF7;
  width: 300px;
  align-items: center;

}
.cont{
  float: right;
  margin-right: 520px;

}
hr{
  color: #FFFFFF;
  width: 98px;
  margin-left: 50px;
}
.cont h2{
  font-family: sans-serif;
  font-size:40px;
  text-decoration: underline;
  margin-top: 30px;
  text-align: center;
  font-style: normal;
}
.cont h3{

  text-align: center;
  font-style: oblique;
  font-weight: bold;
  font-size:18;

}
/*---- aboutus ----*/
.about{
	padding: 3em 0;
}
.about-h2 h2{
	font-size:2em;
	color: #057483;
	font-weight: 900;
	margin:0;
	padding:0.5em 0;
  text-align: justify;
  float: right;
  margin-right: 600px;
}
.about-h2 span{
	height:5px;
	width:7%;
	background:#00948B;
	display:block;
  text-align: inherit;
  float: right;
  margin-left:auto;
  margin-right:auto;
}/*.about p{
	font-size:1em;
	color:#666666;
	margin:0 0 1em 0;
	line-height:1.5em;
}*/
.col-about-left{

  float: left;
}
.col-about-right{

  float:right;
  word-wrap: normal;

}

.button:hover{
	background:#00948B;
}
.side {
  border-color: #F4FF98;
  width: 15%;
  float: left;
  margin-left: 20%;
  background-color: #CBA4E0;
  border-radius: 10px;
}
.side2{
  border-color: #F4FF98;
  width: 15%;
  float: right;
  margin-right: 20%;
  background-color: #CBA4E0;
  border-radius: 10px;
}
.side h3 span{
  text-decoration: underline;
  font-family: fantasy;
  font-style: italic;
}
.side2 h3 span{
  text-decoration: underline;
  font-family: fantasy;
  font-style: italic;
}
.side2-proj{
  border-color: #F4FF98;
  padding:50px;
  /*width:50px; float:left;*/
  width: 15%;
  height:400px;
  float: left;
  margin-top: 10%;
  margin-left: 5%;
  background-color: #F9FED4;
  border-radius: 10px;
}
.side2-proj a{

  font-size: 16px;
  border-radius: 5px;
  background-color: #111F88;
  font-style: italic;
  padding: 8px 10px;
  color:#E8E9F4;
  text-decoration: none;
}
.container p{
    column-count: 2;

    padding-right: 15px;
    padding-left: 15px;
    margin-right: 15%;
    margin-left: 15%;
    word-wrap: normal;
}

.about h4{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: 15%;
}
#main{
  padding:30px;
  height:500px;
  /*margin-left: 120px;*/
}
#projects{
  padding:30px;
   width:700px;
   height: 100px;
   float:right;
}
#projects h3 {
  float: left;
  font-style: italic;
  font-family: monospace;

}
